# Discussion Section 3
***

### Archive exploration

About: 
- Data on snowshoe hares in Bonanza Creek. Data was colllected from 1999 to 2025. 

Citation:
- Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2025-10-17).

![hare_image](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

In [30]:
import pandas as pd
import numpy as np

URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(URL)

In [31]:
hares

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,M,NaN,1460.0,119.0,NaN,32.0,64,Population

In [32]:
hares.isna().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [33]:
print("Max Weight", hares["weight"].max())
print("Min Weight", hares["weight"].min())

print("Max Hind Foot Length", hares["hindft"].max())
print("Min Hind Foot Lengtht", hares["hindft"].min())

Max Weight 2365.0
Min Weight 0.0
Max Hind Foot Length 160.0
Min Hind Foot Lengtht 60.0

In [34]:
hares["notes"].unique()

array([nan, 'No right ear tag', 'Escapee', 'Mortality', 'Mortality ',
       'Old tag lost in L ear',
       'Bunny escaped before second ear tag was added',
       'Rabbit too bloody, released', 'R Front Foot Injured',
       'L Hind Leg Injured',
       'Left Front Foot Injured by Mink. Mink Still Around, Not Shy',
       'Injured Bunny, Released, No Tags', 'Died after release',
       'Dead in trap', 'Dead', 'non-pregnant',
       'pregnant (2 peanut sized babies)', 'pregnant', 'Pregnant',
       'Pregnant; last collar was chewed off',
       '149.074 recapture; collar loose, removed and replaced; non-pregnant',
       'previous collar was chewed off',
       '149.013 came off/removed; replaced',
       '149.033 recapture; collar loose, removed and replaced',
       'previous collar fell off',
       'collar previously chewed off (put back on the same bunny!)',
       'collar broke off, caught in cage', 'dead in trap',
       '149.754 recapture; no VHF signal, removed and replaced',
       '149.614 recapture; no VHF signal, removed and replaced',
       'tick 19',
       '149.474 recapture; low battery, removed collar and replaced',
       '149.844 recapture; signal very quiet, removed collar and replaced',
       'baby', '149.773 recapture; no VHF signal, removed and replaced',
       'tick 18',
       'removed GPS collar 151.243 (transmitter dead), trapped N of BONRIP grid',
       '149.853 recapture; removed collar and replaced',
       'ear punch and blood sample taken', 'ear punch taken',
       'blood sample taken',
       '149.834 recapture; no signal from transmitter, removed collar; ear punch taken',
       'GPS collar',
       '149.535 recapture; removed due to injury from overtightening',
       'removed iButton that was falling off',
       '151.243 GPS recapture; removed collar and replaced with VHF collar',
       '150.540 GPS recapture; removed collar',
       '151.243 GPS recapture; removed collar',
       '150.510 GPS recapture; removed collar',
       '150.520 GPS recapture off grid; removed GPS collar and replaced with VHF',
       '149.334 recapture; no VHF signal, removed collar and replaced',
       '149.874 recapture; no VHF signal, removed collar and replaced',
       '149.615 recapture; "kchunk" VHF signal, removed collar and replaced',
       '149.112 recapture; VHF signal strange, removed collar and replaced',
       'no tags until 4/18/11', 'tags given today',
       'tons of ticks on ears inside and out, as well as top of head, eyes, etc.',
       '149.763 recapture; no signal from transmitter, removed and replaced with 149.802; weird ear growth/scab protruding upward from the ear over an inch! Bloody at base',
       'yes, captured the same bunny as in 5a!',
       '149.723 recapture; removed and replaced with GPS collar 151.273',
       '149.844 recapture; removed and replaced with GPS collar 150.510',
       '149.802 recapture; removed and replaced with GPS collar 150.520',
       '149.744 recapture; removed and replaced with GPS collar 150.530',
       '149.814 recapture; removed and replaced with GPS collar 150.540',
       'untagged juvenile', 'escaped without replacing collar',
       'untagged juvenile dead in trap',
       'GPS antenna still attached to zip tie',
       '149.723 removed; foot caught in collar',
       '149.814 removed; collar too tight', 'New right ear tag',
       'No tags given until 11/6/11',
       'Trap overturned with lots of digging; hare seems ok',
       'RIGHT LEG INJURED IN TRAP', 'DEAD NEAR TRAP', 'DEAD - UNTAGGED ',
       'collar 149.373 fell off since last trapping',
       'collar fell off since last trapping', 'removed collar in mouth',
       'collar fell off sometime before next capture and was found at 3A',
       'bunny escaped; has collar', 'mort', 'No right ear tag given.',
       'No right ear tag until 9/8/10.',
       'left ear tag fell out later, changed to a3132',
       'caught two hares in one trap, let both go',
       'previously different left ear tag',
       'two collars! (also has 149.013)', 'injured in trap, euthanised',
       '149.595 recapture; low batteries, removed and replaced',
       'batteries ded',
       'trap was moved a bit; tar paper off, ground scuffed up',
       'no VHF signal, removed collar',
       'diggings around cage (probably lynx); eyes watery',
       'blood on nose; extremely docile, but sprinted away with plenty of energy',
       '149.373 recapture; no VHF signal, removed collar and replaced',
       'died in handling, removed collar',
       '149.136 recapture; no VHF signal, removed collar and replaced',
       '149.434 recapture; no VHF signal, removed collar and replaced',
       '149.795 recapture; no VHF signal, removed collar and replaced',
       '149.674 recapture; no VHF signal, removed collar and replaced',
       'descended testes',
       '149.033 recapture; no VHF signal, removed collar and replaced',
       '149.413 recapture; no VHF signal, removed collar and replaced',
       '149.393 recapture; no VHF signal, removed collar and replaced',
       'wrong tag numbers???', 'lethargic, did not hop away',
       "previously a3210/a3211, but both tags must've fallen out because they were put in with a leatherman!",
       'Hare on verge of death, occasional spastic motion with legs, unable to sit upright. Removed collar.',
       'Gave birth to 5 leverets in trap (50, 50, 50, 50, 60 g, all dead) and female near death, removed collar.',
       'New, untagged hare. Injured right hind foot (possibly by predator overnight). Let go.',
       'Juvenile', 'juvenile',
       'Removed thinking it was 149.194 that had expired', 'Collared',
       'testes descended', "thought collar was silent, but it wasn't",
       'lots of ticks, fur patchy and mangy looking',
       'cut collar, hare near death, died an hour after release'],
      dtype=object)

### Study Question
Is there a relationship between snowshoe hare weight and hind foot size?

<table width = 50%>
    <tr>
        <th>Value</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>m</td>
        <td>	male</td>
    </tr>
    <tr>
        <td>f</td>
        <td>female</td>
    </tr>
    <tr>
        <td>m?</td>
        <td>male not confirmed</td>
    </tr>
</table>

In [35]:
hares['sex'].value_counts()

sex
F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: count, dtype: int64

The function of drop NA in value_counts is to not include to the count of NaN values in the output. By default this is set to True.

In [36]:
hares['sex'].value_counts(dropna=False)

sex
F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: count, dtype: int64

**Do the values in the sex column correspond to the values declared in the metadata?**
-They do not. Not only is tehre variation in the capitalization of male and female, but there is also an additional value "p" wich they do not identify.

**What could have been potential causes for multiple codes?**
This could be due to multiple people working on the dataset without proper communication, leading to a lack of standardization.

**Are there seemingly repated values? If so, what could be the cause?**
There are four duplicate rows in the data frame. This could be due to the same rabbit being caught multiple times in the same date.

In [37]:
hares[hares.duplicated() == True]

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
2893,7/1/2011,NaN,bonbs,10a,NaN,NaN,NaN,NaN,NaN,NaN,juvenile,NaN,23,Population
2894,7/1/2011,NaN,bonbs,10a,NaN,NaN,NaN,NaN,NaN,NaN,juvenile,NaN,23,Population
2895,7/1/2011,NaN,bonbs,10a,NaN,NaN,NaN,NaN,NaN,NaN,juvenile,NaN,23,Population
3071,9/11/2012,NaN,bonbs,10d,b2834,b2835,f,j,840.0,114.0,NaN,838.0,31,Population

**Brainstorm**
We would take all values with an f and change their name to female.
Then take all values with an m and change to male/ 
Then take all other columns and store them as unknown.

In [ ]:
# Conditions to select fr
conditions = [
    (hares['sex'].isin(['m', 'M', 'm_'])),
    (hares['sex'].isin(['f', 'F', 'f_']))
]

choices = ['male', 'female']

default = 'unknown'

hares['sex_simple'] = np.select(conditions, choices, default=default)

In [47]:
hares['sex_simple'].value_counts()

sex_simple
female     1717
male       1245
unknown     418
Name: count, dtype: int64

In [48]:
hares.groupby('sex_simple')['weight'].mean()

sex_simple
female     1366.920372
male       1352.145553
unknown    1176.511111
Name: weight, dtype: float64

We can seee that the mean weight of females seems to be higher than in males by a slight amount, though in general there seems to be very little variation between the two. The mean value of

In [ ]:
# Final code chunk

# Import required packages
import pandas as pd
import numpy as np

URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(URL)

# Conditions to select fr
conditions = [
    (hares['sex'].isin(['m', 'M', 'm_'])),
    (hares['sex'].isin(['f', 'F', 'f_']))
]

choices = ['male', 'female']

default = 'unknown'

hares.groupby(np.select(conditions, choices, default = 'unknown'))['weight'].mean()

female     1366.920372
male       1352.145553
unknown    1176.511111
Name: weight, dtype: float64