In [2]:
import pandas as pd
import numpy as np

# Load in Data
df = pd.read_csv('data/Colorado River Basin Water Conflict Table.csv')

## Archive Exploration
***

**Where was the data collected from?**
- The areas within Colorodo River Basin across the states of CA, NM, CO, UT, and AZ. Measurements were primarily taken from Arazona, Colorodo, and Utah

**During what time frame were the observations in the dataset collected?**
- 2005-01-01 to 2021-12-31

**What was the authorâ€™s perceived value of this dataset?**
- They wanted to catalogue water conflicts in the Colorodo River Basin so that people could better understand them. 

**Citation** \
Holloman, D.V., Hines, M.K., and Zoanni, D.K., 2023, Coded Water Conflict and Crisis Events in the Colorado River Basin, Derived from LexisNexis search 2005-2021: U.S. Geological Survey data release, https://doi.org/10.5066/P9X6WR7J.

## Preliminary data exploration
***

In [65]:
pd.set_option("display.max.columns", None) # Removes the limit on the number of columns displayed
df.groupby('State')['Event'].count()

State
AZ                            66
AZ; CA                         4
AZ; CA; CO; NV; NM; UT; WY     3
AZ; CA; NV                     1
AZ; CO; NM; UT                 1
AZ; NM                         1
AZ; NV                         2
AZ; UT                         3
CA                             7
CA; NV; AZ                     1
CO                            34
CO; AZ                         2
CO; UT; WY; NM                 2
CO; WY                         1
NM                             6
NV                            10
NV; AZ                         2
OH; UT                         1
TX                             1
UT                            27
UT; AZ                         1
UT; CO; WY                     1
WY; UT; CO                     1
Name: Event, dtype: int64

In [28]:
df.head() # View the first few rows of the dataframe

,Event,Search Source,Newspaper,Article Title,Duplicate,Report Date,Report Year,Event Date,Event Day,Event Month,Event Year,Conflict Present,Crisis Present,Basin,HUC6,HUC2,Place,County,County FIPS,State,State FIPS,Urban or Rural,Issue Type,Event Summary,Stakeholders,Intensity Value,Comments,Related Observation Themes,Article Text Search - water quality,Article Text Search - invasive species,Article Text Search - conservation,Article Text Search - drought,Article Text Search - flood,Article Text Search - ground water depletion,Article Text Search - depletion,Article Text Search - infrastructure,Article Text Search - fish passage,Article Text Search - instream water rights,Article Text Search - water rights,Article Text Search - intergovernmental,Article Text Search - water transfers,Article Text Search - navigation,Article Text Search - fish,Article Text Search - invasive,Article Text Search - diversion,Article Text Search - water diversion,Article Text Search - instream,Article Text Search - aquatic
0,1,USGS1-50.docx,The Durango Herald (Colorado),Tribes assert water rights on Colorado River B...,False,7-Apr-22,2022.0,NaN,NaN,4.0,2022.0,Y,N,Upper San Juan,140801,14,"Durango, CO",La Plata,8067.0,CO,8,Both,Water rights more generally,Ute Mountain and Southern Ute representatives ...,"Tribal Nations, State Government, Federal Gove...",2.0,The article highlights calls for negotiation b...,Lack of tribal representation,0,0,3,7,0,0,0,1,0,0,17,0,0,0,0,0,0,0,0,0
1,2,USGS1-50.docx,"Journal, The (Cortez, Dolores, Mancos, CO)",Native American tribes assert water rights on ...,False,7-Apr-22,2022.0,NaN,NaN,4.0,2022.0,Y,N,Upper San Juan,140801,14,"Durango, CO",La Plata,8067.0,CO,8,Both,Water rights more generally,Ute Mountain and Southern Ute representatives ...,"Southern Ute Indian Tribe, Ute Mountain Tribe,...",2.0,The article highlights calls for negotiation b...,Lack of tribal representation,0,0,2,7,0,0,0,1,0,0,17,0,0,0,0,0,0,0,0,0
2,3,USGS1-50.docx,The Salt Lake Tribune,'Very positive change.' New Utah law will be a...,False,17-Mar-22,2022.0,NaN,NaN,3.0,2022.0,N,Y,Great Salt Lake,160203,16,Great Salt Lake,NaN,NaN,UT,49,Both,Instream water rights,A bill is proposed in Utah that would expand t...,"State Government, Any Water Rights Holder, Agr...",3.0,The event is the proposal of the bill at the s...,Dishonoring the absent,0,0,1,2,0,0,0,0,0,0,12,0,0,0,1,0,0,0,12,1
3,4,USGS1-50.docx,Casa Grande Dispatch (AZ),Legislation would let an Arizona tribe lease C...,False,11-Dec-21,2021.0,NaN,NaN,12.0,2021.0,N,Y,Lower Colorado,150301,15,Colorado River Indian Reservation,NaN,NaN,NaN,NaN,Rural,Water rights more generally,The Colorado River Indian Tribes Water Resilie...,"Colorado River Indian Tribes, State Government...",3.0,"Event is proposal of the bill, preliminary agr...",NaN,0,0,2,6,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0
4,5,USGS1-50.docx,The Aspen Times (Colorado),Historically excluded from Colorado River poli...,False,19-Dec-21,2021.0,NaN,NaN,11.0,2021.0,Y,Y,Upper San Juan,140801,14,Southern Ute Indian Reservation,NaN,NaN,NaN,NaN,Rural,Intergovernmental issues,State and federal officials say that Tribal Na...,"Sothern Ute Indian Tribe, Ute Mountain Tribe, ...",-1.0,Interaction between tribal nations and state/f...,Lack of tribal representation,0,0,2,6,0,0,0,7,0,0,18,0,0,0,0,0,0,0,0,0

In [31]:
print(df.groupby('State')['State'].count()) # Number of occurences in each state
print(df.info()) # View the Non-Null Count and dtype of each column
print(df.nunique()) # Count the number of unique entries in each column
print(df.shape) # Get shape of the dataframe

State
AZ                            66
AZ; CA                         4
AZ; CA; CO; NV; NM; UT; WY     3
AZ; CA; NV                     1
AZ; CO; NM; UT                 1
AZ; NM                         1
AZ; NV                         2
AZ; UT                         3
CA                             7
CA; NV; AZ                     1
CO                            34
CO; AZ                         2
CO; UT; WY; NM                 2
CO; WY                         1
NM                             6
NV                            10
NV; AZ                         2
OH; UT                         1
TX                             1
UT                            27
UT; AZ                         1
UT; CO; WY                     1
WY; UT; CO                     1
Name: State, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 48 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Event                                         268 non-null    int64
 1   Search Source                                 268 non-null    object
 2   Newspaper                                     268 non-null    object
 3   Article Title                                 268 non-null    object
 4   Duplicate                                     267 non-null    object
 5   Report Date                                   267 non-null    object
 6   Report Year                                   265 non-null    float64
 7   Event Date                                    248 non-null    object
 8   Event Day                                     18 non-null     float64
 9   Event Month                                   212 non-null    float64
 10  Event Year                                    257 non-null    float64
 11  Conflict Present                              252 non-null    object
 12  Crisis Present                                254 non-null    object
 13  Basin                                         250 non-null    object
 14  HUC6                                          110 non-null    object
 15  HUC2                                          250 non-null    object
 16  Place                                         254 non-null    object
 17  County                                        8 non-null      object
 18  County FIPS                                   8 non-null      float64
 19  State                                         178 non-null    object
 20  State FIPS                                    178 non-null    object
 21  Urban or Rural                                254 non-null    object
 22  Issue Type                                    255 non-null    object
 23  Event Summary                                 256 non-null    object
 24  Stakeholders                                  255 non-null    object
 25  Intensity Value                               255 non-null    float64
 26  Comments                                      190 non-null    object
 27  Related Observation Themes                    86 non-null     object
 28  Article Text Search - water quality           268 non-null    int64
 29  Article Text Search - invasive species        268 non-null    int64
 30  Article Text Search - conservation            268 non-null    int64
 31  Article Text Search - drought                 268 non-null    int64
 32  Article Text Search - flood                   268 non-null    int64
 33  Article Text Search - ground water depletion  268 non-null    int64
 34  Article Text Search - depletion               268 non-null    int64
 35  Article Text Search - infrastructure          268 non-null    int64
 36  Article Text Search - fish passage            268 non-null    int64
 37  Article Text Search - instream water rights   268 non-null    int64
 38  Article Text Search - water rights            268 non-null    int64
 39  Article Text Search - intergovernmental       268 non-null    int64
 40  Article Text Search - water transfers         268 non-null    int64
 41  Article Text Search - navigation              268 non-null    int64
 42  Article Text Search - fish                    268 non-null    int64
 43  Article Text Search - invasive                268 non-null    int64
 44  Article Text Search - diversion               268 non-null    int64
 45  Article Text Search - water diversion         268 non-null    int64
 46  Article Text Search - instream                268 non-null    int64
 47  Article Text Search - aquatic                 268 non-null    int64
dtypes: float64(6), int64(21), object(21)
memory usage: 100.6+ KB
None
Event                                           268
Search Source                                     6
Newspaper                                        45
Article Title                                   267
Duplicate                                         2
Report Date                                     235
Report Year                                      18
Event Date                                       52
Event Day                                        12
Event Month                                      12
Event Year                                       21
Conflict Present                                  2
Crisis Present                                    2
Basin                                            25
HUC6                                             22
HUC2                                              7
Place                                           135
County                                            3
County FIPS                                       3
State                                            23
State FIPS                                       19
Urban or Rural                                    6
Issue Type                                       19
Event Summary                                   253
Stakeholders                                    199
Intensity Value                                  10
Comments                                        184
Related Observation Themes                       21
Article Text Search - water quality              10
Article Text Search - invasive species            2
Article Text Search - conservation               15
Article Text Search - drought                    19
Article Text Search - flood                      10
Article Text Search - ground water depletion      1
Article Text Search - depletion                   2
Article Text Search - infrastructure              9
Article Text Search - fish passage                1
Article Text Search - instream water rights       1
Article Text Search - water rights               17
Article Text Search - intergovernmental           2
Article Text Search - water transfers             2
Article Text Search - navigation                  2
Article Text Search - fish                        8
Article Text Search - invasive                    3
Article Text Search - diversion                   6
Article Text Search - water diversion             2
Article Text Search - instream                    5
Article Text Search - aquatic                     5
dtype: int64
(268, 48)

##  Examine State Codes
***

In [9]:
print(df.groupby('State')['State'].count())

State
AZ                            66
AZ; CA                         4
AZ; CA; CO; NV; NM; UT; WY     3
AZ; CA; NV                     1
AZ; CO; NM; UT                 1
AZ; NM                         1
AZ; NV                         2
AZ; UT                         3
CA                             7
CA; NV; AZ                     1
CO                            34
CO; AZ                         2
CO; UT; WY; NM                 2
CO; WY                         1
NM                             6
NV                            10
NV; AZ                         2
OH; UT                         1
TX                             1
UT                            27
UT; AZ                         1
UT; CO; WY                     1
WY; UT; CO                     1
Name: State, dtype: int64

In [10]:
# Filter for states where there is a conflict
df_conflicts = df[df["Conflict Present"] == "Y"]
# Get unique values of state column
df_conflicts['State'].unique()

array(['CO', nan, 'AZ', 'OH; UT', 'UT', 'CA', 'AZ; NV', 'CO; UT; WY; NM',
       'AZ; CA', 'AZ; UT', 'NV; AZ', 'AZ; CA; CO; NV; NM; UT; WY', 'NV',
       'NM', 'UT; CO; WY', 'AZ; NM', 'WY; UT; CO', 'CO; AZ'], dtype=object)

**What could be a challenge to writing code to find which states are listed (without repetition)?**
***
Some of the observations were taken across multiple states, meaning we need to seperate the state abbreviations if there are multiple in each column.

** Brainstorm**
***

In [31]:
# Create a series using the values in the state column
s = pd.Series(df_conflicts['State'])

# Split the string the series at the semicolon and stack values
s = s.str.split('; ', expand = True).stack()

# value_counts will find the number of unique occurances of each state abbreviation
s.value_counts()

AZ     42
UT     21
CO     18
 UT     8
NV      8
 WY     5
 NM     5
 CA     5
NM      5
 NV     4
 CO     4
 AZ     3
CA      2
OH      1
WY      1
Name: count, dtype: int64

**Exploratory wrangling**
***

In [67]:
# Returns array of unique state values
(pd.Series(df['State']) # Create series from the State column
     .str.split('; ', expand = True) # Split the names in the state column at the semicolon 
     .stack() # Stack the names of the states
     .unique()) # Count unique occurances of each state

array(['CO', 'UT', 'AZ', 'OH', 'NM', 'CA', 'NV', 'WY', 'TX'], dtype=object)

**Find Unique State Codes**
***

In [66]:
# Returns list of unique state names
(pd.Series(df[df["Conflict Present"] == "Y"]['State']) # Series of states with columns
     .str.split(';', expand = True) # Split at semicolon
     .stack(). # Stack values
     str.strip() # Remove spaces from the state abbreviations
     .unique() # Get unique values
     .tolist()) # Convert the series to a list

['CO', 'AZ', 'OH', 'UT', 'CA', 'NV', 'WY', 'NM']